<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sync_settings>
            <sync>
                <shared_catalog_enabled>0</shared_catalog_enabled>
            </sync>
        </sync_settings>
    </default>
</config>
