<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Dotdigitalgroup\Email\Model\Connector\Datafield">
        <plugin name="ddg_b2b_data_field_plugin"
                type="Dotdigitalgroup\B2b\Plugin\DataFieldPlugin" sortOrder="1"/>
    </type>
    <type name="Dotdigitalgroup\Email\Model\Apiconnector\CustomerDataFieldProvider">
        <plugin name="ddg_b2b_customer_datafield_provider_plugin"
                type="Dotdigitalgroup\B2b\Plugin\CustomerDataFieldProviderPlugin"/>
    </type>
    <type name="Dotdigitalgroup\Email\Model\Apiconnector\Customer">
        <plugin name="ddg_b2b_customer_plugin"
                type="Dotdigitalgroup\B2b\Plugin\CustomerPlugin"/>
    </type>
    <type name="Dotdigitalgroup\Email\Model\Sync\Catalog\StoreCatalogSyncer">
        <plugin name="ddg_b2b_store_catalog_syncer_plugin"
                type="Dotdigitalgroup\B2b\Plugin\StoreCatalogSyncerPlugin"/>
    </type>
    <type name="Dotdigitalgroup\Email\Model\Connector\PriceFinder">
        <plugin name="ddg_b2b_price_finder_plugin"
                type="Dotdigitalgroup\B2b\Plugin\PriceFinderPlugin"/>
    </type>
    <type name="Magento\SharedCatalog\Model\ResourceModel\ProductItem\Price\PriceProcessor">
        <plugin name="ddg_b2b_shared_catalog_price_processor_plugin"
                type="Dotdigitalgroup\B2b\Plugin\SharedCatalogPriceUpdatePlugin"/>
    </type>
    <type name="Magento\SharedCatalog\Model\ResourceModel\ProductItem\Price\Consumer">
        <plugin name="ddg_b2b_shared_catalog_price_consumer_plugin"
                type="Dotdigitalgroup\B2b\Plugin\SharedCatalogPriceUpdatePlugin"/>
    </type>
    <type name="Magento\SharedCatalog\Controller\Adminhtml\SharedCatalog\Configure\Save">
        <plugin name="ddg_b2b_shared_catalog_save_configuration_plugin"
                type="Dotdigitalgroup\B2b\Plugin\SharedCatalogSaveConfigurationPlugin"/>
    </type>
</config>